html, body {
    background-color: lightblue;
    color: black;
    text-align: center;
}

.cloud {
    position: relative;
    margin-top: 100px;
    width: 350px;
    height: 120px;
    background: white;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    animation: cloudani 15s infinite;
}

.cloud:after, .cloud:before {
    content:"";
    position: relative;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
}

.cloud::after {
    width: 120px;
    height: 120px;
    top: -100px;
    left: -150px;
}

.cloud::before {
    width: 180px;
    height: 180px;
    top: -70px;
    left: 130px;
}

@keyframes cloudani {
    0% {transform: translateX(-25vw);}
    50% {transform: translateX(100vw);}
    100% {transform: translateX(-25vw);}
}

.error {
    color:red;
}